/**
**  Typography
**/
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

/**
**  General
**/
body {
  background-image: linear-gradient(theme(colors.blue.900), theme(colors.cyan.100))
}


/**
**  Abstractions
**/
.site-container {
  @apply min-h-screen flex flex-col justify-between text-white-full mx-auto;
  max-width: 2000px;
}
/** page padding **/
.p-page {
  @apply px-4
}
@screen sm {
  .p-page {
    @apply px-8
  }
}
@screen xl {
  .p-page {
    @apply px-10
  }
}

/** main and side columns */
@screen md {
  .main-col {
    @apply w-2/3 pr-8 mr-8
  }
  .side-col {
    @apply w-1/3 self-end mb-16 fixed bottom-0
  }
}
@screen xl {
  .main-col {
    @apply w-1/2
  }
  .side-col {
    @apply w-1/3
  }
}

/** Rich text bottom margins **/
.rtf > * {
  @apply mb-8
}
.rtf--tight > * {
  @apply mb-4
}
.rtf > *:last-child {
  @apply mb-0
}

/** Rich text links formating **/
.link,
.rtf a {
  color: theme(colors.white.full);
  border-bottom: 2px solid theme(colors.white.700);
}

/** Rich text markup formatting **/
.rtf > h2 {
  font-size: 1.3rem;
  border-bottom: 1px solid theme(colors.white.700);
}
.rtf > ul {
  @apply list-disc list-outside ml-4;
}
.rtf > ul > li {
  @apply .mb-2
}

@screen sm {
  .rtf > ul {
    @apply ml-8 pr-12;
  }
  .rtf > ul > li {
    @apply .mb-4
  }
}

.main-header {
  @apply text-3xl uppercase mb-4
}
@screen md {
  .main-header {
    @apply text-4xl mb-10;
  }
}

.aside-header {
  @apply text-lg text-white-700 uppercase tracking-wide border-t border-white-500 mb-4 pt-1
}


/**
** Transitions
**/

.layout-enter-active, .layout-leave-active {
  transition: opacity .5s
}
.layout-enter, .layout-leave-active {
  opacity: 0
}

/**
 * Debugging
 */
 .debug {
   outline: 1px dotted rgba(255, 0, 255, 0.5)
 }
 .debug.flex > *,
 .debug.grid > * {
  outline: 1px dotted rgba(0, 255, 255, 0.5)
 }
